
/* -----------------CSS reset --------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
    height: auto; 
}

/* -------------------------------------------------------- */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    background: #fff;
    overflow-x: hidden;
    color: #434455;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}


/* ------------------------------- SECTION ------------------------------ */

.section {
    padding: 96px 0;
}

.section-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.section-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 72px;
}

/* ----------------------------- SOCIAL MEDIA ------------------------------- */

.social-media-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-media-item {
    width: 40px;
    height: 40px;
}

.social-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
    background: #404bbf;
}

.social-media-icon {
    fill: #f4f4fd;
}

/* ---------------------------------- CLOSE BUTTON -------------------------------- */

.btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    background-color: #e7e9fc;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
    background-color: #404bbf;
    border:none; 
}

.btn-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .btn-close-icon,
.btn-close:focus .btn-close-icon {
    fill: #ffffff;
}

/* --------------------------------------- VISUALLY-HIDDEN --------------------- */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }


/* //////////////////////////////////// HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.header {
    border-bottom: 1px solid #e7e9fc; 
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}


/* ----------------nav part--------------------  */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.logo-black {
    color: #2e2f42;
}

.nav-list {
    display:none;
}

.address-list {
    display: none;
}

.hamburger{
    padding: 16px 0;
    cursor: pointer;
}

/* //////////////////////////////////// PROMO SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.promo {
    padding: 72px 0;
    margin: 0 auto;
    max-width: 1440px;
    background-image:linear-gradient(
        to bottom, 
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), url(../images/promo-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-resolution: 192dpi) {
    .promo {
        background-image:linear-gradient(
            to bottom, 
            rgba(46, 47, 66, 0.7), 
            rgba(46, 47, 66, 0.7)
            ), url(../images/promo-background@2x.jpg);
    }
  }

.promo .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo-title {
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.promo-button {
    margin-top: 72px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.promo-button:hover,
.promo-button:focus {
    background: #404bbf;
}

/* //////////////////////////////////// FEATURES SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.features-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.features-decr {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.features-icon-block {
    display: none;
}

/* //////////////////////////////////// OUR TEAM SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.our-team {
    background: #f4f4fd;
}

.team-item {
    min-width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-descr {
    padding: 32px 0;
}

.team-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
}

/* //////////////////////////////////// OUR PORTFOLIO SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.portfolio-card-list {
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-card-descr-box {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-card-item {
    width: 100%;
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card-img {
    height: 280px;
}


.portfolio-card-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-card-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.portfolio-card-overlay-box {
    position: relative;
    overflow: hidden;
    
}

.portfolio-card-item:hover .portfolio-card-overlay-text {
    transform: translateY(0%);
}


.portfolio-card-overlay-text {
    position: absolute;
    top: 0;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ////////////////////////////////////  FOOTER  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.footer {
    padding: 96px 0;
    background: #2e2f42;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.footer-logo-block {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    margin: 0;
    align-self: center;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-white {
    color: #f4f4fd;
}

.footer-message {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-title {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-media-list {
    gap: 16px;
}

.footer-media-link:hover,
.footer-media-link:focus {
    background: #31D0AA;
}


/* ---------------- subscribe-form ------------ */



.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.subscribe-input {
    padding-left: 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    outline: none;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.subscribe-input::placeholder {
    color: #ffffff;
}

.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif ;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background: #404bbf;
}

.subscribe-icon {
   margin-left: 16px;
   fill: #F4F4FD;
}

/* ////////////////////////////////////  MODAL WINDOW \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.modal-overlay {
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 16px 24px 16px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42 ;
}

.modal-form-box {
    margin-bottom: 8px;
}

.modal-label {
    position: relative;
    display: block;

    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-input-box {
    position: relative;
}
  
.modal-input {   
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent; 
    border-radius: 4px;
    width: 100%;
    height: 40px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
    
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    fill: #2E2F42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-icon {
    fill: #4d5ae5;
}

.modal-comment-box {
    margin-bottom: 16px;
}

.modal-textarea {
    display: block;
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
}

.modal-privacy-box {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.modal-privacy-label {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    cursor: pointer;
}

.visually-hidden:checked + .modal-privacy-label > .modal-checkbox{
    background: #404bbf;
    fill: #F4F4FD;
    border: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-link {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-btn-submit {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-submit:hover,
.modal-btn-submit:focus {
    background: #404bbf;
}

/* //////////////////////////////////// DROPDOWN MENU  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.dropdown-menu {
    background: #fcfcfc;
    position: fixed;
   
    top: 0;
    left: 0;
    padding: 72px 24px 40px 16px;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dropdown-menu.is-open {
    opacity: 1;
    pointer-events: auto;
}

.dropdown-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
}

.dropdown-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.dropdown-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.dropdown-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
}

.dropdown-nav-link:hover,
.dropdown-nav-link:focus,
.dropdown-address-link:hover,
.dropdown-address-link:focus {
        color: #404bbf;
}

.dropdown-media-list {
    gap: 40px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~TABLET SCREEN ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
    }
   
    .header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* nav part  */
    
    .hamburger {
        display: none;
    }
    
    .nav-list {
        display: flex;
        gap: 40px;
    }
    
    .nav-item {
        padding: 24px 0;
    }
    
    .nav-link {
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42; 
    }
    
    .nav-link:hover,
    .nav-link:focus {
        color: #404bbf;
    }

    .current-page {
        position: relative;
        color: #404bbf; 
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .current-page::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -1px;
        display: block;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
      }
    
    
    
    /* address-part */
    
    .address {
        font-style: normal;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        
    }
    
    .address-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .address-link:hover,
    .address-link:focus {
        color: #404bbf;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~ promo section ~~~~~~~~~~~~~~~~~~~~ */

    .promo {
        padding: 112px 0;
    }

    .promo-title {
        font-size: 56px;
        max-width: 496px;
    }

    .promo-button {
        margin-top: 36px;
    }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~features section ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    .section-list {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .section-item {
        flex-basis: calc((100% - 24px) / 2)
    }

    .features-title {
        text-align: left;
    }


    /*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~ our-team section ~~~~~~~~~~~~~~~~~~~~~~~ */
    /*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~ our_portfolio section ~~~~~~~~~~~~~~~~~~ */
    
     .portfolio-card-item {
        width: calc((100% - 24px) / 2);
    }

    .portfolio-card-img {
        height: 300px;
    }

    /*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~footer ~~~~~~~~~~~~~~~~~~ */

    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        padding-left: 108px;
    }

    .footer-logo {
        align-self: self-start;
    }

    .footer-title {
        text-align: start;
    }

    .subscribe-form {
        display: flex;
        flex-direction: row;
        column-gap: 24px;
    }

    .subscribe-input {
        width: 264px;
    }


    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Modal window ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    .modal {
        padding: 72px 24px 24px 24px;
        width: 408px;
        min-height: 584px;
    }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  LAPTOP L SCREEN  @@@@@@@@@@@@@@@@@@@@@@@@ */

@media screen and (min-width: 1158px) {

    .section {
        padding: 120px 0;
    }

    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    /* address-part */

    .address-list {
        flex-direction: row;
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
    }

    

    /*@@@@@@@@@@@@@@@@@@@@@@@@ promo section @@@@@@@@@@@@@@@@@@@@@@@@ */

    .promo {
        padding: 188px 0;
    }

    .promo-button {
        margin-top: 48px;
    }

    /* @@@@@@@@@@@@@@@@@@@@@@@@@@@  features section @@@@@@@@@@@@@@@@@@@@@ */


    .section-item {
        flex-basis: calc((100% - 3 * 24px) / 4)
    }

    .features-icon-block {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
        background: #f4f4fd;
    }

    .features-title {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
    }

    .features-decr {
        font-weight: 400;
    }
    

    /* @@@@@@@@@@@@@@@@@@@@  our-team section  @@@@@@@@@@@@@@@@@@@@@@@@@@@ */

    /* -------------------------------------------------------------------- */

    /* @@@@@@@@@@@@@@@@@@@@  our_portfolio section  @@@@@@@@@@@@@@@@@@@@@@@ */

    .portfolio-card-item {
        width: calc((100% - 48px) / 3);
    }


    /* @@@@@@@@@@@@@@@@@@@@  footer  @@@@@@@@@@@@@@@@@@@@@@@ */

    .footer-container {
        flex-wrap: nowrap;
        justify-content: center;
        gap: 0;
        padding-left: 0;
        align-items: baseline;
    }

    .footer-logo-block {
        margin-right: 120px;
    }

    .subscribe {
        margin-left: 80px;
    }
}
